body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.container .tick{
    height: 6em;
    width: 6em;
    align-self: center;
    padding-top: 2%;

}

.container h1, h3{
    align-self: center;
}

.order-item{
    margin: 2%;
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    width: 50%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30%;
    box-shadow: 10px 10px 20px #aaaaaa;

}
.order-item img{
    padding: 2%;
    border-radius: 10px;
    height: 7em;
    width: 7em;
}
#order-summary{
    margin-left: 30%;
    align-content: center;
}
#order-summary #order-summary{
    display: flex;
    gap: 20%;
}

#order-summary #order-summary p{
    margin-left: -40%;
    padding-right: 60%;
}


#delivery-info{
    box-shadow: 10px 10px 20px #aaaaaa;
    border: 1px solid #000;
    width: 50%;
    margin-left: 27%;
    border-radius: 10px;
}

#delivery-info div{
    padding-left: 5%;
}


