body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: #434655;
    color: white;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 90px;
}

.header-span{
    display: flex;
    align-items: center;
}

.header-span h4{
    margin-left:28%;
    margin-top: 2%;
    font-size: 26px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    padding-top: 90px;
    
}

.container .tick{
    height: 6em;
    width: 6em;
    align-self: center;
    padding-top: 2%;


}

.container h1, h3{
    align-self: center;
}

.order-item{
    margin: 2%;
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    width: 50%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30%;
    box-shadow: 10px 10px 20px #aaaaaa;

}
.order-item img{
    padding: 2%;
    border-radius: 10px;
    height: 7em;
    width: 7em;
}
#order-summary{
    margin-left: 30%;
    align-content: center;
}
#order-summary #order-summary{
    display: flex;
    gap: 20%;
}

#order-summary #order-summary p{
    margin-left: -40%;
    padding-right: 60%;
}


#delivery-info{
    box-shadow: 10px 10px 20px #aaaaaa;
    border: 1px solid #000;
    width: 50%;
    margin-left: 27%;
    border-radius: 10px;
    margin-bottom: 90px;
}

#delivery-info div{
    padding-left: 5%;
}


footer {
    background-color: #434655;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
  }
  footer p{
    margin: 1%;
  }

#total-count, #total-price{
    font-size: 16px;
    font-weight: 500px !important;
}