#body{
    
    background: url('../assets/pexels-jonathanborba-2983101.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}
:root {
    --bs-card-bg: #b04141; 
  }
header{
    padding: 20px;
}
.card{
    margin: 2em;
    background-color: rgb(231, 192, 120) !important ;
    display: flex;
    flex-direction: row !important;
    background-color: wheat;
}

button{
    outline: none;
    border: none;
}

h2{
    margin-left: 1em;
    color: #b04141;
}
h5{
    color: #712727;
}
img{
    height: 100%;    
    width: 100%;
}
.card-body span{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}