.bg-image{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    align-content: center;
    justify-content: center;
background-image: url('../assets/login-background.jpg');
background-size:cover;
}

.login-div{
    flex:5;
    width: 100%;
    height: 100vh;
    background-color: grey;
}

.login-card{
    width: 30vw;
    height: 62vh;
    background-color: rgba(255, 255, 255);
    border-radius: 15%;
    opacity: 0.7;
    align-items: center;
    justify-content: center;
}

.login-card-top{
    margin: 40px 20px 10px 160px;
    width: 70px;
    height: 30px;
    /* background-color: rgba(16, 203, 236, 0.87); */
    border-radius: 50%;
}
.icon-head{
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group-text{
    background-color: aquamarine;
}
a{
    text-decoration: none !important;
    font-size: 14px;
}

.forgot-pass{
    text-align-last: end !important;
}
.submit-button{
    margin-top: -25px !important;
}
.user-password{
    justify-content: space-between;
}